build
.vscode
.ipynb_checkpoints
.DS_Store
__pycache__
credentials.json
credentials-sheets.json
token-drive.pickle
token-sheets.pickle
*.pth
*.h5
.venv
.pytest_cache
eda_fe_summary
machine_learning_ibm
deep_learning_udacity
data_science_udacity
mlops_udacity